<footer class="footer">
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <h2 class="title">QuizyPeasy</h2>
        </div>
        <div class="col-md-3">
          <ul class="nav">
            <li class="nav-item">
              <a href="/" class="nav-link">
                Главная
              </a>
            </li>
            <li class="nav-item">
              <a href="#" class="nav-link">
                Регистрация
              </a>
            </li>
            <li class="nav-item">
              <a href="/" class="nav-link">
                Войти
              </a>
            </li>
          </ul>
        </div>
        <div class="col-md-3">
          <ul class="nav">
            <li class="nav-item">
              <a href="https://blog.ruslanabk.ru/" class="nav-link">
                Блог
              </a>
            </li>
            <li class="nav-item">
              <a href="https://opensource.org/licenses/MIT" class="nav-link">
                Лицензия
              </a>
            </li>
          </ul>
        </div>
        <div class="col-md-3">
          <h3 class="title">Присоединяйся:</h3>
          <div class="btn-wrapper profile">
            <a target="_blank" href="https://github.com/Ruslanabk/quizy-peasy" class="btn btn-icon btn-neutral  btn-round btn-simple" data-toggle="tooltip" data-original-title="Github repo">
              <i class="fab fa-github"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </footer>